@charset "EUC-KR";
@import url(http://fonts.googleapis.com/css?family=Roboto);
/* index.jsp 페이지에서 사용함 */

#board_body {
	background-color: #ffffff;
}

#navBar {
	background-color: #212529
}

#navBar .nav-brand {
	color: #7F6854;
	font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial,
		cursive;
	font-size: 30px;
	text-decoration: none;
	transition: all .3s
}

#navBar .nav-toggle {
	font-size: 12px;
	right: 0;
	padding: 13px;
	text-transform: uppercase;
	color: #fff;
	border: 0;
	background-color: #fed136;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#navBar .nav-items {
	font-size: 90%;
	font-weight: 400;
	padding: 10px;
	letter-spacing: 1px;
	color: #fff;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#navBar .nav-items .nav-links {
	font-size: 90%;
	font-weight: 400;
	padding: .75em 0;
	letter-spacing: 1px;
	color: #fff;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-decoration: none;
}

#navBar .nav-tems .nav-links:hover {
	color: #7F6854;
}

#navBar .nav-brand:hover {
	color: #fed136;
	
}

.card-form {
	width: 500px;
	margin-bottom: 20px;
	margin-left: 30px;
	float: left;
}

.text-center {
	text-align: center;
}

.row-form {
	clear: both;
}

.board_header {
	width: 100%;
	height: 100px;
	position: relative;
	top: -110px;
	text-align:center;
	color: white;
}

.board_main {
	width: 100%;
	padding-left: 90px;
	padding-right:90px;
}

.board_no {
	width: 100px;
}

.board_title {
	width: 800px;
}

.board_write {
	width: 200px;
}

.board_date {
	width: 300px;
}

#kind_table {
	margin-left: auto;
	margin-right: auto;
}

#kind_th {
	color: #fff;
	background-color: #fed136;
}

#modal_p {
	text-align: left;
}

