.register-form {
	position:absolute; 
	top:50%; left:50%; 
	width:560px; 
	height:800px;
	overflow:hidden; 
	margin-top:-350px; 
	margin-left:-330px;
	text-align: center;
}

.register-header {
	margin-bottom: 30px;
}

.form-table{
	width:550px;
}

input {
	margin: 12px;
}